@media screen {

    .card {
    }

    .card .card-header {

    }

    .card .card-body .col-md-3 div {
        display: flex;
        flex-direction: column;
    }

    .card .card-body .col-md-3 img {
        width: 100%;
    }

    .card .card-body .col-md-3 span {

    }

    .card .card-body .col-md-3 a {

    }

    .card .card-body .col-md-9 ul li {

    }

    .card .card-body .col-md-9 .badges {
        display: flex;
        justify-content: space-around;
    }

    .card .card-body .col-md-9 .badge {
    }

    .card .card-footer {

    }

}

@media screen and (max-width: 992px) {
    .card {
    }

    .card .card-header {

    }

    .card .card-body {
    }

    .card .card-body .col-md-3 img {
        width: 100%;
    }

    .card .card-body .col-md-3 div span {
        text-align: center;
    }

    .card .card-body .col-md-3 a {

    }

    .card .card-body .col-md-9 ul li {

    }

    .card .card-body .col-md-9 .badges {
    }

    .card .card-body .col-md-9 .badge {
        transform: scale(.85);
    }


    .card .card-footer {

    }
}

@media screen and (max-width: 768px) {
    .card {
    }

    .card .card-header {

    }

    .card .card-body .col-md-3 {
        /*display: flex;*/
        /*flex-direction: row;*/
    }

    .card .card-body .col-md-3 img {
        width: 100%;
    }

    .card .card-body .col-md-3 div {
        margin-top: 1rem;
    }

    .card .card-body .col-md-3 a {

    }

    .card .card-body .col-md-9 {

    }

    .card .card-body .col-md-9 ul li {

    }

    .card .card-body .col-md-9 .badges {
        transform: scale(.9);
    }

    .card .card-footer {

    }
}

@media screen and (max-width: 576px) {
    .card {
    }

    .card .card-header {

    }

    .card .card-body {

    }

    .card .card-body .col-md-3 img {
    }

    .card .card-body .col-md-3 span {

    }

    .card .card-body .col-md-3 a {

    }

    .card .card-body .col-md-9 ul li {

    }

    .card .card-body .col-md-9 .badges {
        transform: scale(.7);
    }

    .card .card-footer .repos h3{
        font-size: 1.4rem ;
        margin-top: 10px;
    }
}

@media screen and (max-width: 400px){
    .card .card-header h2{
        font-size: 1.5rem;
    }
    .card .card-body .col-md-9 .badges {
        transform: scale(.66);
    }
    .card .card-footer .repos h3{
        font-size: 1.3rem ;
        margin-top: 10px;
    }
}

@media screen and (max-width: 300px){
    .card .card-header h2{
        font-size: 1.3rem;
    }
    .card .card-body .col-md-9 .badges {
        display: flex;
        flex-direction: column;
        transform: scale(.9);
    }

    .card .card-footer .repos h3{
        font-size: 1.1rem;
        margin-top: 10px;
    }
}